<div class="partidos-hoy">
  <h5>Partidos de hoy</h5>
  <span class="fecha-actual">{{fechaActualString}}</span>
</div>
<div *ngFor="let partido of partidos" class="jornada">
  <div class="jornada-content">
    <img
      src="https://oneftbl-cms.imgix.net/https%3A%2F%2Fimages.onefootball.com%2Ficons%2FleagueColoredCompetition%2F128%2F13.png?auto=format%2Ccompress&crop=faces&dpr=2&fit=crop&h=50&q=25&w=50&s=9694c4095e35dca907c544817a86c64a"
      alt="" width="60" height="60">
    <div class="jornada-liga">
      <h5>{{partido.liga}}</h5>
      <span>Jornada {{partido.jornada}}</span>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-content-teams">
        <div class="card-content-team">
          <img [src]=partido.equipo_local_img alt="" width="19" height="19">
          <span style="margin-left: 10px">{{partido.equipo_local}}</span>
        </div>
        <div class="card-content-team">
          <img [src]=partido.equipo_visitante_img alt="" width="19" height="19">
          <span style="margin-left: 10px">{{partido.equipo_visitante}}</span>
        </div>
      </div>
      <div class="card-content-hour">
        <span>{{partido.hora}}</span>
      </div>
    </div>
  </div>
