<div class="mx-auto" style="width: 1000px;">
  <h5 style="margin-top: 20px">Noticias</h5>
  <div class="card mb-3" style="max-width: 1296px;" style="background-color: black; border: 1px solid white">
    <div class="row g-0">
      <div class="col-md-8">
        <img [src]=mainNews?.imagen class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-3">
        <div class="card-body">
          <h5 class="card-title">{{mainNews?.titulo}}</h5>
          <p class="card-text">{{mainNews?.informacion}}</p>
          <p class="card-text"><small class="text-muted">{{mainNews?.fecha}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="display: flex;place-content: center;">
  <div class="card" *ngFor="let new of news" style="width: 18rem; background-color: black">
    <img [src]=new?.imagen class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{new?.titulo}}</h5>
      <p class="card-text"><small class="text-muted">{{new?.fecha}}</small></p>
    </div>
  </div>
</div>
